body{
  background-color: rgb(26, 25, 25) !important;
  color: white !important;
  margin: 0;
  padding: 0;
}

.dropdown-menu {
  background-color: #2f2d2d !important; 
}
.dropdown-menu .dropdown-item {
  color: white !important;
  font-size: 18px;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #333333;
}
.white-placeholder::placeholder {
  color: white !important;
}

.hover-effect {
  background-color: #333;
  color: white;
   border-color: #898686 !important;
}
.hover-effect:hover,
.hover-effect:focus {
  border-color: #555 !important;
  box-shadow: none !important;
}
