body{
  background-color: rgb(26, 25, 25) !important;
  color: white !important;
  margin: 0;
  padding: 0;
}

.dropdown-menu {
  background-color: #2f2d2d !important; 
}
.dropdown-menu .dropdown-item {
  color: white !important;
  font-size: 18px;
}

.text:hover{
  color: aliceblue !important;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #333333;
}
.movie-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.movie-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}